---
layout: default
permalink: /managed-chat/
---

<div class="container primary-content managed-chat-primary-content">
  <div class="row justify-content-center">
    <div class="col-md-12">

        <div class="product">
            <h1 class="centered-headline" style="margin-bottom:2rem;">Chat by Text</h1>
            <div class="cta-1 bg-secondary">
              <h3>Engage Top Talent the Right Way</h3>
              <h4>Recruit with a Human Touch</h4>
            </div>

            <div class="cta-2">
              <h2>How it Works</h2>
            </div>

            <div class="steps">
              <div id="step-1" class="step row">
                <div class="step-info bg-icon step-1 col-md-6">
                  <div class="step-text">
                    <p>A 'Chat by Text' button on your jobs prompts visitors to engage.</p>
                  </div>
                </div>
                <div class="step-image col-md-6">
                  <div class="step-img d-flex align-content-center justify-content-center p-5">
                    {% include chatbytext.svg %}
                  </div>
                </div>
              </div>

              <div class="step-arrow-divider">
                <a href="#step-2">
                  <div class="step-arrow-divider-img">
                    <img width="25" src="{{ "/assets/img/products/text-retargeting/arrow-down.svg" | relative_url }}">
                  </div>
                </a>
              </div>

              <div id="step-2" class="step row">
                <div class="step-info bg-icon step-2 col-md-6">
                  <div class="step-text">
                    <p>Recruiters (or Emissary) answers questions, leading more qualified prospects to move ahead.</p>
                  </div>
                </div>
                <div class="step-image col-md-6">
                  <div class="step-img">
                    <img style="max-width: 75%;padding:1rem 0.5rem;" src="{{ "/assets/img/products/managed-chat/emissary-rep.png" | relative_url }}">
                  </div>
                </div>
              </div>

              <div class="step-arrow-divider">
                <a href="#step-3">
                  <div class="step-arrow-divider-img">
                    <img width="25" src="{{ "/assets/img/products/text-retargeting/arrow-down.svg" | relative_url }}">
                  </div>
                </a>
              </div>

              <div id="step-3" class="step row">
                <div class="step-info bg-icon step-3 col-md-6">
                  <div class="step-text">
                    <p>Q&amp;A happens over time, making it easy to manage.</p>
                  </div>
                </div>
                <div class="step-image col-md-6">
                  <div class="step-img d-flex align-content-center justify-content-center p-5">
                    {% include clock.svg %}
                  </div>
                </div>
              </div>

              <div class="step-arrow-divider">
                <a href="#step-4">
                  <div class="step-arrow-divider-img">
                    <img width="25" src="{{ "/assets/img/products/text-retargeting/arrow-down.svg" | relative_url }}">
                  </div>
                </a>
              </div>

              <div id="step-4" class="step row">
                <div class="step-info bg-icon step-4 col-md-6">
                  <div class="step-text">
                    <p>The best candidates apply, instead of walking away.</p>
                  </div>
                </div>
                <div class="step-image col-md-6">
                  <div class="step-img">
                    <img style="max-width: 360px;" src="{{ "/assets/img/products/text-retargeting/desktop.svg" | relative_url }}">
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="cta text-white rounded bg-dark p-5">
            <div class="row justify-content-md-center">
              <div class="col-md-10">
                <div class="row align-items-center">
                  <div class="col-md-12">
                    <h2 class="mb-4 text-center">Engage More Effectively</h2>
                    <div class="mb-4">
                      <p class="text-center">Real conversations drive real candidate engagement. Chat by Text helps you engage the best candidates efficiently at enterprise scale.</p>
                      <br>
                    </div>
                    <p class="text-center">
                      <!-- <a class="btn btn-primary round-light mb-2" href="">Request a Demo</a> -->
                      <a class="btn btn-primary round-light mb-2" href="">Contact Us</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>


    </div>
  </div>
</div>

