---
layout: default
permalink: /share-by-text/
bodyclass: share-by-text
---

<div class="container primary-content share-by-text-primary-content managed-chat-primary-content">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="product">
        <h1 class="text-center mb-2">Increase Referrals with <span class="text-red">Share by Text</span></h1>
      </div>
    </div>
  </div>
</div>


<!-- Features -->
<div class="container mt-5">
  <div class="row justify-content-md-center features">
    <div class="col-md-10">
      <!-- feature: image-left -->
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="col-md-8 text-center text-md-left mx-auto">
            <div class="text-center">
              <h2>Enable Easier Referrals</h2>
              <p style="font-size: 1.25em;">
                Enable easier referrals by letting visitors <strong>text your jobs</strong> to others with a single click.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="step-arrow-divider">
        <a href="#step-1">
          <div class="step-arrow-divider-img">
            <img width="25" src="{{ "/assets/img/products/text-retargeting/arrow-down.svg" | relative_url }}">
          </div>
        </a>
      </div>

      <!-- feature: image right -->
      <div class="row align-items-center" id="step-1">
        <div class="col-md-4 flex-md-last">
          <img src="{{ "/assets/img/share-text-buttons.png" | relative_url }}">
        </div>
        <div class="col-md-8 text-center text-md-left">
          <h2 class="mb-4">Boost the number and quality of referrals instantly.</h2>
          <p style="font-size: 1.25em;">
              Texting is the most popular way to share. Encourage friends, family and coworkers to make more referrals by making them as easy as possible.
          </p>
        </div>
      </div>

      <div class="step-arrow-divider">
          <a href="#step-2">
            <div class="step-arrow-divider-img">
                <img width="25" src="{{ "/assets/img/products/text-retargeting/arrow-down.svg" | relative_url }}">
            </div>
          </a>
        </div>

        <!-- feature: image right -->
        <div class="row align-items-center" id="step-2">
          <div class="col-md-4">
            {% include import.svg %}
          </div>
          <div class="col-md-8 text-center text-md-right">
            <h2 class="mb-4">Measure the impact of your referrals.</h2>
            <p style="font-size: 1.25em;">
              Full reporting and analytics allow you to track the number of shares, clicks and applies over time.
            </p>
          </div>
        </div>

      <div class="step-arrow-divider">
        <a href="#step-3">
          <div class="step-arrow-divider-img">
            <img width="25" src="{{ "/assets/img/products/text-retargeting/arrow-down.svg" | relative_url }}">
          </div>
        </a>
      </div>

      <!-- feature: image-left -->
      <div class="row align-items-center" id="step-3">
        <div class="col-md-4 flex-md-last">
          {% include schedule.svg %}
        </div>
        <div class="col-md-8 text-center text-md-left">
          <h2 class="mb-4">Improve your job site's mobile experience.</h2>
          <p style="font-size: 1.25em;">
            Integration is simple. Add a Share by Text button to your jobs on its own, or alongside social media sharing options, with just a few lines of code.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- CTA -->
<div class="container">
  <div class="cta alt text-white text-center rounded bg-primary p-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 ">
        <h1 class="mb-4">Connect when it counts</h1>
        <p class="mb-4">
          Join other industry leaders and start engaging candidates more effectively right now.
        </p>
        <p>
          <!-- <a class="btn btn-secondary round-light mb-2" href="">Sign Up</a> -->
          <a class="btn btn-secondary round-light mb-2" href="mailto:sales@emissary.ai">Learn More</a>
        </p>
      </div>
    </div>
    <div class="alt video hidden-md-down">
      <div class="home-slider" id="homeSlider">
        {% assign slides = site.static_files | where: "home-slide", true %}
        {% for slide in slides %}
          <div>
            <figure style="background-image: url({{ slide.path | relative_url }})"></figure>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
