// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

//== Scaffolding
//--------------
$text-color: #8a8a8a;

//== Colors
//---------
$brand-primary: #c25b56;

//== Typography
//-------------
$font-size-base: 16px;
$font-size-large: 16px;
$font-size-small: 16px;

$line-height-base: 1.75;
$headings-line-height: 1.25;

$headings-font-weight: 700;
$font-size-h1: 40px;
$font-size-h2: 26px;
$font-size-h3: 22px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$font-size-h6: 15px;

//== Components
//-------------
$border-radius-base:        10px;
$border-radius-large:       10px;
$border-radius-small:       10px;

//== Buttons
//----------
$btn-font-weight: 700;
$btn-default-color: $brand-primary;
$btn-default-border: #fff;
$btn-border-radius-base: 100px;
$btn-border-radius-large: 100px;
$btn-border-radius-small: 100px;

//== Navbar
$navbar-height: 60px;
$navbar-padding-vertical: 30px;
$navbar-inverse-color: #fff;
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-hover-color: #fff;
$navbar-inverse-toggle-icon-bar-bg: #fff;
$navbar-inverse-toggle-border-color: #fff;
