---
---
@import "bootstrap";

// Global
//-------
.site-wrap {
  max-width: 1600px;
  margin: 0 auto;
  box-shadow: -2px 0 10px rgba(188,190,202,0.32);
  background: #fff;
  border-bottom: 64px solid #525564;
}
img {
  max-width: 100%;
}
.text-white {
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}
.btn, .badge {
  font-family: $headings-font-family;
  font-weight: 400;
  letter-spacing: 0.5px;
}
h1 {
  letter-spacing: 1px;
}
h2 {
  letter-spacing: 0.5px;
}



// Nav
// ---
.primary-nav {
  z-index: 1;
  .navbar {
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgba($brand-primary, 1);
  }
  &:not(.transparent) {
    height: 104px;
  }
  img {
    max-width: 125px;
  }

  .navbar-brand {
    position: relative;
  }

  .logo-dark {
    position: absolute;
    opacity: 0;
    left: 0;
  }

  .navbar,
  .logo-light,
  .logo-dark,
  .nav-link
  {
    transition: all linear 0.2s;
  }

  &.is-stuck {
    .navbar {
      @extend .navbar-light;
      background: $white;
      box-shadow: 0 1px 2px rgba(0,0,0,0.1);
      padding-top: $navbar-padding-y / 2;
      padding-bottom: $navbar-padding-y / 2;
    }
    .logo-light {
      opacity: 0;
    }
    .logo-dark {
      opacity: 1;
    }
  }
}
.navbar {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.6px;
  font-family: $headings-font-family;
  color: $white;
  a {
    color: inherit;
  }
  .navbar-toggler {
    outline: none;
    cursor: pointer;
  }
}
@include media-breakpoint-up(md) {
  .navbar {
    .nav-link, .nav-link:hover {
      color: white;
    }
    .nav-item + .nav-item {
      margin-left: 1rem;
    }
    &.transparent {
      .navbar {
        background-color: rgba($brand-primary, 0);
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .navbar {
    padding-top: $navbar-padding-y / 2;
    padding-bottom: $navbar-padding-y / 2;
  }
  .navbar .container {
    width: 100%;
  }
  .navbar-nav {
    padding-top: 1rem;
  }
  .nav-item {
    border-top: 1px solid rgba(#f2f2f2, 0.25);
  }
  .primary-nav.is-stuck .navbar .nav-item {
    border-top: 1px solid $gray-lighter;
  }
}

.btn.round-light {
  border-radius: 100px;
  border-width: 2px;
  padding: 0.75rem 3rem;

  &.btn-secondary {
    border-color: #fff;
    color: $brand-primary;
    &:hover, &:focus {
      background: #fff;
    }
  }
  &.btn-outline-secondary {
    border-color: #fff;
    color: #fff;
    &:hover, &:focus {
      background: #fff;
      color: $brand-primary;
    }
  }
}

@include media-breakpoint-up(md) {
  .btn.round-light + .btn.round-light {
    margin-left: 1rem;
  }
}

// Content
//--------
.primary-content {
  padding-top: 7%;
}
.hero {
  padding: 20vh 0;
  background: $brand-primary url(../img/hero-bg-faded.png) left -20px repeat;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  .video {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    background: url(../img/hero-bg.png) left -20px repeat;
  }
}
@include media-breakpoint-up(lg) {
  .hero {
    background: $brand-primary;
  }
}


.trusted-by {
  padding: 5% 0;
}

.features {
  margin-bottom: 10%;
  hr {
    margin: 6% 0;
    border-color: $gray-lightest;
  }
  img {
    max-height: 250px;
  }
}

.cta {
  box-shadow: 0 24px 40px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

// footer
//-------
.footer {
  padding-top: 7%;
  padding-bottom: 7%;
  .row {
    border-top: 2px solid #f2f2f2;
    padding-top: 7%;
  }
  .nav-item {
    margin-top: 0.5rem;
  }
  .nav-link {
    font-size: 13px;
    color: #707070;
    padding-left: 0;
    padding-right: 0;
    &:hover, &:focus {
      color: darken(#707070, 5%);
    }
  }
}


// Pricing
//--------
.pricing-table {
  margin-top: 2rem;
  thead {
    th {
      text-align: center;
    }
  }

  tr th:first-child {
    width: 15rem;
    background: $gray-lightest;
    p {
      font-size: $small-font-size;
    }
  }

  td, th {
    border-left: $table-border-width solid $table-border-color;
    border-right: 0;
  }

  td {
    text-align: center;
    vertical-align: middle;
  }

  i {
    color: $brand-success;
    font-size: 30px;
  }

  .price {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    color: $headings-color;
    font-size: $font-size-h1;
    small {
      font-size: 1rem;
      color: $body-color;
      vertical-align: super;
      position: relative;
      top: 3px;
    }
    span {
      font-size: 1rem;
      color: $body-color;
      vertical-align: baseline;
    }
  }
}
@include media-breakpoint-up(lg) {
  .pricing-table {
    margin-top: 4rem;
    thead .popular {
      border-top-color: $brand-primary;
      position: relative;
      &:before {
        content: 'Most Popular';
        background: $brand-primary;
        display: block;
        position: absolute;
        top: 0;
        right: -$table-border-width;
        left: -$table-border-width;
        transform: translateY(-100%);
        color: $white;
        border-radius: $border-radius $border-radius 0 0;
        padding: .5rem;
        font-family: $headings-font-family;
        font-size: 1rem;
        font-weight: 400;
      }
    }

    .popular {
      border-left-color: $brand-primary;
      + td, + th {
        border-left-color: $brand-primary;
      }
    }

    tbody tr:last-child .popular {
      border-bottom-color: $brand-primary;
    }

    td, th {
      display: table-cell !important;
    }
  }

  .pricing-selector {
    display: none;
  }
}
@include media-breakpoint-down(md) {
  .pricing-selector {
    width: 100%;
    .btn {
      flex: 1 1 auto;
    }
  }
  .pricing-table {
    th:not(:first-child):not(.popular),
    td:not(:first-child):not(.popular) {
      display: none;
    }
  }
}

// Drivers
//--------
.driver {
  border: 2px solid $gray-lighter;
  border-radius: $border-radius;
  text-align: center;
  padding: 1rem;
  transition: all linear 0.1s;
  position: relative;
  margin-bottom: $grid-gutter-width-base;
  i {
    color: $brand-primary;
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  hr {
    border-width: 4px;
    border-color: $gray-lighter;
    width: 20%;
  }
  a {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  &:hover {
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0 10px 10px rgba($black, 0.04);
  }
}

// Icon + Text
//------------
.icon-text {
  i {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
}

// Thumbnails
//-----------
.thumbnail {
  box-shadow: 0 2px 10px rgba($black, 0.07);
  border: 1px solid $gray-lighter;
  border-radius: $border-radius / 2;
  background: $white;
  figcaption {
    text-align: center;
    font-family: $headings-font-family;
    color: $headings-color;
    border-top: 1px solid $gray-lighter;
    padding: 0.5rem;
  }
}

// Accordion
//----------
.accordion {
  .card:first-child {
    border-radius: $border-radius $border-radius 0 0;
    overflow: hidden;
  }
  .card:last-child {
    border-radius: 0 0 $border-radius $border-radius;
    overflow: hidden;
  }
  overflow: hidden;
  .card-header {
    background: $brand-primary;
    a {
      color: white;
      text-decoration: none;
    }
  }
}


// Dashboard
//----------
.dashboard {
  padding-top: 72px;
  background: $white;
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: $brand-primary;
    z-index: 10;
  }
  .dash-nav {
    background: $gray-lightest;
    border-bottom: 1px solid $gray-lighter;
    padding: 1rem 0;
  }
  .secondary-menu-toggle {
    background: transparent;
    border: 0;
    outline: 0;
  }
  .dash-content {
    background: $white;
    padding: 1rem 0;
  }
  .dash-footer {
    padding: 1rem 0;
    background: $gray-light;
    color: $white;
    font-size: 90%;
    z-index: 1;
    a, a:hover, a:focus {
      color: inherit;
    }
  }
}
@include media-breakpoint-up(lg) {
  .dashboard {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    .container-fluid {
      width: 100%;
    }
    .dash-header {
      display: flex;
      flex: 0 0 auto;
      .navbar {
        position: static;
      }
    }
    .dash-wrap {
      display: flex;
      flex: 1 1 0;
    }
    .dash-main {
      display: flex;
      flex-direction: row;
      flex: 1 1 0;
    }
    .dash-nav {
      border-bottom: 0;
      border-right: 1px solid $gray-lighter;
      width: 300px;
      overflow-y: auto;
      display: flex;
      flex: 0 0 auto;
      .collapse {
        display: block;
      }
    }
    .dash-content {
      width: 67%;
      overflow-y: auto;
      display: flex;
      flex: 1 1 0;
      box-shadow: 0px 0px 25px rgba($black, 0.05);
    }
    .dash-footer {
      display: flex;
      flex: 0 0 auto;
      p {
        margin: 0;
      }
    }
  }
}
