---
---
@import "bootstrap";

// Global
//-------
.site-wrap {
  max-width: 1600px;
  margin: 0 auto;
  box-shadow: -2px 0 10px rgba(188,190,202,0.32);
  background: #fff url('../img/paper-bg.jpg');
}
img {
  max-width: 100%;
}
.text-white {
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}
.btn, .badge {
  font-family: $headings-font-family;
  font-weight: 400;
  letter-spacing: 0.5px;
}
h1 {
  letter-spacing: 1px;
}
h2 {
  letter-spacing: 0.5px;
}



// Nav
// ---
.primary-nav {
  z-index: 1;
  .navbar {
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgba($brand-primary, 1);
  }
  &:not(.transparent) {
    height: 104px;
  }

  .navbar-brand {
    position: relative;
  }

  .logo-dark {
    position: absolute;
    opacity: 0;
    left: 0;
  }

  &.transparent .navbar {
    background-color: rgba($brand-primary, 0);
  }

  .navbar,
  .logo-light,
  .logo-dark,
  .nav-link
  {
    transition: all linear 0.2s;
  }

  &.is-stuck {
    .navbar {
      @extend .navbar-light;
      background: $white;
      box-shadow: 0 1px 2px rgba(0,0,0,0.1);
      padding-top: $navbar-padding-y / 2;
      padding-bottom: $navbar-padding-y / 2;
    }
    .logo-light {
      opacity: 0;
    }
    .logo-dark {
      opacity: 1;
    }
  }
}
.navbar {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.6px;
  font-family: $headings-font-family;
  color: $white;
  img {
    max-width: 125px;
  }
  a {
    color: inherit;
  }
  .navbar-toggler {
    outline: none;
    cursor: pointer;
  }
}
@include media-breakpoint-up(md) {
  .navbar {
    .nav-link, .nav-link:hover {
      color: white;
    }
    .nav-item + .nav-item {
      margin-left: 1rem;
    }
  }
}
@include media-breakpoint-down(sm) {
  .navbar {
    padding-top: $navbar-padding-y / 2;
    padding-bottom: $navbar-padding-y / 2;
  }
  .navbar .container {
    width: 100%;
  }
  .navbar-nav {
    padding-top: 1rem;
  }
  .nav-item {
    border-top: 1px solid rgba(#f2f2f2, 0.25);
  }
  .primary-nav.is-stuck .navbar .nav-item {
    border-top: 1px solid $gray-lighter;
  }
}

.btn.round-light {
  border-radius: 100px;
  border-width: 2px;
  padding: 0.75rem 3rem;

  &.btn-secondary {
    border-color: #fff;
    color: $brand-primary;
    &:hover, &:focus {
      background: #fff;
    }
  }
  &.btn-outline-secondary {
    border-color: #fff;
    color: #fff;
    &:hover, &:focus {
      background: #fff;
      color: $brand-primary;
    }
  }
}

@include media-breakpoint-up(md) {
  .btn.round-light + .btn.round-light {
    margin-left: 1rem;
  }
}

// Content
//--------
.primary-content {
  padding-top: 7%;
}
.hero,
.cta.alt {
  margin-bottom: 6%;
  padding: 20vh 0;
  background: url(../img/hero-bg-mobile.png),
              linear-gradient(to bottom, darken($brand-primary, 15%) 5%, lighten($brand-primary, 1%) 75%);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;

  .video {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
  }

  .video.alt {
    left: 0;
    .home-slider figure {
      background-size: 95% auto;
      background-position: center;
    }
  }

  > .row {
    z-index: 1;
    position: relative;
  }

  .home-slider {
    height: 100%;
    width: 100%;
    position: absolute;
    div {
      height: 100%;
      width: 100%;
      position: absolute;
    }
    figure {
      width: 100%;
      height: 100%;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left center;
      margin: 0;
    }
  }
}
.hero.alt {
  background: linear-gradient(to bottom, darken($brand-primary, 15%) 5%, lighten($brand-primary, 1%) 75%);
}
.cta.alt {
  clip-path: none;
  margin-bottom: 0;
}
@include media-breakpoint-up(lg) {
  .hero,
  .cta.alt {
    background: linear-gradient(to bottom, darken($brand-primary, 15%) 5%, lighten($brand-primary, 1%) 75%);
  }

  .hero.alt,
  .cta.alt {
    h1 {
      font-size: 60px;
    }

    p {
      font-size: 20px;
      line-height: 1.8;
    }
  }
}


.trusted-by {
  padding: 5% 0;
}

.features {
  margin-bottom: 10%;
  hr {
    margin: 6% 0;
    border-color: $gray-lighter;
    border-width: 2px;
  }
  .step-arrow-divider {
    margin: 4rem 0;
  }
  img {
    max-height: 250px;
  }
}

.cta {
  box-shadow: 0 24px 40px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background: linear-gradient(to bottom, darken($brand-primary, 15%) 5%, lighten($brand-primary, 1%) 85%);
}

// footer
//-------
.footer {
  padding-top: 7%;
  padding-bottom: 7%;
  img {
    max-width: 200px;
  }
  .row {
    border-top: 2px solid #f2f2f2;
    padding-top: 7%;
  }
  .nav-item {
    margin-top: 0.5rem;
  }
  .nav-link {
    color: #707070;
    padding-left: 0;
    padding-right: 0;
    &:hover, &:focus {
      color: darken(#707070, 5%);
    }
  }
}

.colophon {
  background: #525564;
  color: white;
  font-size: 85%;
  padding: 2rem 0;
  a {
    color: white;
  }
}

@include media-breakpoint-up(md) {
  .colophon {
    p {
      margin: 0;
    }
  }
}


// Pricing
//--------
.pricing-table {
  margin-top: 2rem;
  thead {
    th {
      text-align: center;
    }
  }

  tr th:first-child {
    width: 15rem;
    background: $gray-lightest;
    p {
      font-size: $small-font-size;
    }
  }

  td, th {
    border-left: $table-border-width solid $table-border-color;
    border-right: 0;
  }

  td {
    text-align: center;
    vertical-align: middle;
  }

  i {
    color: $brand-success;
    font-size: 30px;
  }

  .price {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    color: $headings-color;
    font-size: $font-size-h1;
    small {
      font-size: 1rem;
      color: $body-color;
      vertical-align: super;
      position: relative;
      top: 3px;
    }
    span {
      font-size: 1rem;
      color: $body-color;
      vertical-align: baseline;
    }
  }
}
@include media-breakpoint-up(lg) {
  .pricing-table {
    margin-top: 4rem;
    thead .popular {
      border-top-color: $brand-primary;
      position: relative;
      &:before {
        content: 'Most Popular';
        background: $brand-primary;
        display: block;
        position: absolute;
        top: 0;
        right: -$table-border-width;
        left: -$table-border-width;
        transform: translateY(-100%);
        color: $white;
        border-radius: $border-radius $border-radius 0 0;
        padding: .5rem;
        font-family: $headings-font-family;
        font-size: 1rem;
        font-weight: 400;
      }
    }

    .popular {
      border-left-color: $brand-primary;
      + td, + th {
        border-left-color: $brand-primary;
      }
    }

    tbody tr:last-child .popular {
      border-bottom-color: $brand-primary;
    }

    td, th {
      display: table-cell !important;
    }
  }

  .pricing-selector {
    display: none;
  }
}
@include media-breakpoint-down(md) {
  .pricing-selector {
    width: 100%;
    .btn {
      flex: 1 1 auto;
    }
  }
  .pricing-table {
    th:not(:first-child):not(.popular),
    td:not(:first-child):not(.popular) {
      display: none;
    }
  }
}

// Drivers
//--------
.driver {
  border: 2px solid $gray-lighter;
  border-radius: $border-radius;
  text-align: center;
  padding: 1rem;
  transition: all linear 0.1s;
  position: relative;
  margin-bottom: $grid-gutter-width-base;
  i {
    color: $brand-primary;
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  hr {
    border-width: 4px;
    border-color: $gray-lighter;
    width: 20%;
  }
  a {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  &:hover {
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0 10px 10px rgba($black, 0.04);
  }
}

// Icon + Text
//------------
.icon-text {
  i {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
}

// Thumbnails
//-----------
.thumbnail {
  box-shadow: 0 2px 10px rgba($black, 0.07);
  border: 1px solid $gray-lighter;
  border-radius: $border-radius / 2;
  background: $white;
  figcaption {
    text-align: center;
    font-family: $headings-font-family;
    color: $headings-color;
    border-top: 1px solid $gray-lighter;
    padding: 0.5rem;
  }
}

// Accordion
//----------
.accordion {
  .card:first-child {
    border-radius: $border-radius $border-radius 0 0;
    overflow: hidden;
  }
  .card:last-child {
    border-radius: 0 0 $border-radius $border-radius;
    overflow: hidden;
  }
  overflow: hidden;
  .card-header {
    background: $brand-primary;
    a {
      color: white;
      text-decoration: none;
    }
  }
}


// Dashboard
//----------
.dashboard {
  padding-top: 72px;
  background: $white;
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: $brand-primary;
    z-index: 10;
  }
  .dash-nav {
    background: $gray-lightest;
    border-bottom: 1px solid $gray-lighter;
    padding: 1rem 0;
  }
  .secondary-menu-toggle {
    background: transparent;
    border: 0;
    outline: 0;
  }
  .dash-content {
    background: $white;
    padding: 1rem 0;
  }
  .dash-footer {
    padding: 1rem 0;
    background: $gray-light;
    color: $white;
    font-size: 90%;
    z-index: 1;
    a, a:hover, a:focus {
      color: inherit;
    }
  }
}
@include media-breakpoint-up(lg) {
  .dashboard {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    .container-fluid {
      width: 100%;
    }
    .dash-header {
      display: flex;
      flex: 0 0 auto;
      .navbar {
        position: static;
      }
    }
    .dash-wrap {
      display: flex;
      flex: 1 1 0;
    }
    .dash-main {
      display: flex;
      flex-direction: row;
      flex: 1 1 0;
    }
    .dash-nav {
      border-bottom: 0;
      border-right: 1px solid $gray-lighter;
      width: 300px;
      overflow-y: auto;
      display: flex;
      flex: 0 0 auto;
      .collapse {
        display: block;
      }
    }
    .dash-content {
      width: 67%;
      overflow-y: auto;
      display: flex;
      flex: 1 1 0;
      box-shadow: 0px 0px 25px rgba($black, 0.05);
    }
    .dash-footer {
      display: flex;
      flex: 0 0 auto;
      p {
        margin: 0;
      }
    }
  }
}


.product {
  // padding: 2vw;
  // max-width: 850px;
  margin:0 auto;
  overflow: hidden;
  // font-size: 1.5rem;
}
.section {
  max-width: 850px;
  margin: 0 auto;
  padding: 1em 0;
}
.product-logo {
  text-align: center;
  margin: 0 0 4rem;
}
.product-logo img {
  max-width: 400px;
}
.centered-headline {
  text-align: center;
  font-weight: 500;
  padding: 0 0 0.25rem;
}
.subheading {
  color: #928F9D;
  margin-top: -0.75em;
  font-size: 0.98rem;
  padding: 0.5rem 0;
}
.callout-headline {
  // background: #CC6666;
  color: #928f9d;
  font-weight: 300;
  // font-size: 26px;
  padding: 0 6vw 4vh;
  border-radius: 1em;
  text-align: center;
}
h3.callout-headline {
  font-size: 28px;
}
.overline {
  color: rgba(#928f9d, 0);
  animation-name: overlineTextIn;
  animation-duration: 1800ms;
  animation-fill-mode: forwards;
  animation-delay: 750ms;
  &::before {
    content: '';
    display: block;
    background: #928f9d5e;
    width: 0%;
    height: 2px;
    border-radius: 10px;
    margin: 0 auto 1rem;
    animation-name: overlineIn;
    animation-delay: 250ms;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
  }
}

.product-intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
  align-items: center;
  justify-content: flex-start;
  /* color: #525564; */
  color: #928F9D;
}
.product-intro img {
  max-width: 75%;
  margin: 0 auto 2rem;
}
.steps {
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-row-gap: 1rem;
  // align-items: center;
  // justify-content: center;
  // justify-items: center;
  padding: 2rem 0 4rem;
}
.steps .centered-headline {
  padding-bottom: 0;
}
.step-info {
  // display: grid;
  // grid-template-columns: min-content 1fr;
  // justify-content: center;
  @media (min-width: 690px) {
    // grid-template-columns: min-content min-content;
  }
}
.step-num {
  width: 60px;
  padding: 6px 16px 0 0;
  @media (min-width: 690px) {
    width: 80px;
  }
}
.step-text {
  color: #c25b56;
  font-size: 22px;
  line-height: 1.25em;
  @media screen and (min-width: 690px) {
    width: 340px;
  }
}
.step-img {
  width: 75%;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}
.step-arrow {
  padding: 2em 0;
  text-align: center;
  img {
    width: 35px;
  }
}
.steps ol {
  color: #c25b56;
  margin-top: 0;
  font-size: 1.5em;
}
.product-out {
  text-align: center;
  .btn.btn-lg {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0.1em;
    padding: 0.75em 5em;
  }
  .email-link {
    font-size: 1.5em;
    color: #525564;
    a {
      color: #525564;
    }
  }
}
@media screen and (min-width: 690px) {
  .product {
    // padding: 2em;
  }
  .product-intro {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (min-width: 1000px) {
  .product {
    // padding: 4em;
  }
  .product-intro {
    grid-template-columns: 1fr 2fr;
  }
  .product-intro img {
    max-width: 100%;
  }
  .product-out h2 {
    color: #c25b56;
  }
  .callout-headline {
    // font-size: 36px;
    padding: 0rem 2rem 2rem;
    margin: 0 0 2rem;
  }
  .steps ol {
    white-space: nowrap;
  }
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1800ms;
  animation-delay: 400ms;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes overlineIn {
  0% { opacity: 0; width: 0%; }
  100% { opacity: 1; width: 100%; }
}
@keyframes overlineTextIn {
  0% { color: rgba(#928f9d, 0); }
  100% { color: rgba(#928f9d, 1); }
}




.text-red {
  color: #c25b56;
}

.text-retargeting-primary-content,
.managed-chat-primary-content {
  margin-bottom: 4em;
  h1,h2,h3,h4,h5,h6 {
    br {
      display: none !important;
    }
  }
  .centered-headline {
    font-size: 2em;
  }
  .callout-headline.overline {
    padding-bottom: 0.5em;
    font-size: 1.25em;
  }
  .section {
    padding: 0;
  }
  .steps {
    padding: 0 0 4rem;
    hr {
      margin: 0;
    }
  }
  .step {
    @media screen and (max-width: 768px) {
      padding: 2rem;
    }
    @media screen and (min-width: 768px) {
      align-items: center;
      // display: grid;
      // grid-template-columns: 1fr 1fr;
      // align-content: center;
      // align-items: center;
    }
  }
  .step-text {
    font-weight: 600;
    width: auto;
    @media screen and (max-width: 450px) {
      width: auto !important;
    }
    @media screen and (max-width: 768px) {
      width: 420px;
    }
    @media screen and (max-width: 992px) {
      // width: auto;
    }
  }
  .step-num {
    width: 90px;
    margin-bottom: 0.5rem;
  }
  .step-info {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    // margin: 0 auto;
    @media screen and (max-width: 992px) {
      padding: 0;
    }
    &.bg-icon {
      height:280px;
      display:flex;
      align-items:center;
      justify-content: flex-start;
      background-repeat: no-repeat;
      background-position: 5% 50%;
      background-size: 45%;
      padding: 1.5rem 1.5rem 0 0;
      @media only screen and (max-width: 768px) {
        background-size: 33%;
        padding: 0 0 0 6rem;
        min-height: 160px;
      }
      .step-text {
        margin-left: 12%;
        margin-top: 12%;
      }
      &.step-1 { background-image:url('{{ "/assets/img/products/text-retargeting/icon-1-fill.svg" | relative_url }}'); }
      &.step-2 { background-image:url('{{ "/assets/img/products/text-retargeting/icon-2-fill.svg" | relative_url }}'); }
      &.step-3 { background-image:url('{{ "/assets/img/products/text-retargeting/icon-3-fill.svg" | relative_url }}'); }
      &.step-4 { background-image:url('{{ "/assets/img/products/text-retargeting/icon-4-fill.svg" | relative_url }}'); }
      &.step-5 { background-image:url('{{ "/assets/img/products/text-retargeting/icon-5-fill.svg" | relative_url }}'); }
      &.step-6 { background-image:url('{{ "/assets/img/products/text-retargeting/icon-6-fill.svg" | relative_url }}'); }
    }
  }
  .step-image {
    padding: 2.5rem;
    justify-self: flex-end;
    @media screen and (max-width: 992px) {
      padding: 1rem;
    }
  }
  .step-img {
    width: initial;
    min-width: 300px;
    min-height: 300px;
    background: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 6px 20px -8px rgba(0, 0, 0, 0.25), 0px 6px 20px -13px rgba(0, 0, 0, 0.5), 0px 2px 3px -2px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 390px) {
      min-width: initial;
    }

    @media screen and (max-width: 414px) {
      > svg {
        max-width: 100%;
      }
    }

    @media screen and (min-width: 1200px) {
      width: 450px;
    }
    img {
      max-height: 250px;
    }
  }
  .step-arrow {
    padding: 0.5rem 0 1rem 0;
  }
  .info-list {
    text-align: left;
    max-width: 450px;
    margin: 0 auto 2.5rem;
    ul {
      padding-left: 1.25rem;
      li {
        border-bottom: 1px solid #eee;
        padding: 0.5rem 0;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .centered-list {
    @media only screen and (min-width: 992px) {
      margin: 0 auto;
      width: 450px;
    }
  }
  #step-3 {
    .step-img > svg {
      max-width: 100%;
    }
  }
  @media only screen and (min-width: 450px) {
    #step-3 {
      .step-img > svg {
        max-width: 306px;
      }
    }
  }
}

.cta-1, .cta-2 {
  margin: 0 auto;
  color: #fff;
  h1,h2,h3,h4,h5,h6 {
    color: #fff;
    font-weight: 300;
  }
  h4,h5,h6 {
    font-weight: 200;
  }
}
.cta-1 {
  padding: 3rem 2rem;
  border-radius: 10px 10px 0 0;
  background: rgba(#c25b56, 1);
  text-align: center;
  h3 {
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }
}
.cta-2 {
  padding: 2rem 3rem;
  background: rgba(#525564, 1);
  border-radius: 0 0 10px 10px;
  text-align: center;
  h3,h4,h5,h6 {
    font-weight: 200;
    color: rgb(185, 182, 194);
  }
}

.cta.bg-dark {
  background: linear-gradient(to bottom, #525564 5%, darken(#525564, 10%) 85%);
}

.step-arrow-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  &-img {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 100px;
    box-shadow: 0 0px 5px -2px rgba(0, 0, 0, 0.25), 0 2px 5px -2px rgba(0,0,0,0.25), 0 3px 9px -4px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(2px);
    transform-origin: center;
    transition: box-shadow 300ms ease-in-out, opacity 300ms ease-in-out, transform 300ms ease-in-out;
    cursor: pointer;
    img {
      max-width: 40px;
      margin: 0;
      padding: 0;
      opacity: 0.5;
      transition: opacity 300ms ease-in-out;
    }
    &:hover {
      box-shadow: 0 0px 5px -2px rgba(0, 0, 0, 0.25), 0 6px 10px -2px rgba(0,0,0,0.125), 0 9px 16px -4px rgba(0,0,0,0.125);
      transform: translateY(0);
      img {
        opacity: 1;
      }
    }
  }
}



#starfield-svg {
  position: absolute;
  width: 42%;
  right: -3%;
  top: -22%;
}
